
⚠ #Feinstaub in #Cannstatt / #Stuttgart ({{ current_time }})

PM10: {{ pm10 }}µg/m³
PM2.5: {{ pm25 }}µg/m³

Details: {{ luftdaten_map_url }}

This is a bot. Code is available on github aschuma/air_tweets.

#Luftverschmutzung #Particulatematter #Opendata #Civictech #Airrohr #Airpollution #Airquality
